---
const { id, titleBarra } = Astro.props;
---
<div id={id} class="bg-gradient-to-r from-verde-lemedic-100 via-verde-lemedic-200 to-verde-lemedic-300 w-full p-4">
    <h3 class="text-white font-[dm-serif-display] font-bold text-xl text-center uppercase tracking-wider xl:text-2xl">{ titleBarra }</h3>
</div>