<section class="w-full pt-8 pb-8">
    <div class="pl-4 pr-4 xl:w-[1280px] mx-auto">
        <ol class="list-decimal pl-6 columns-2 xl:columns-6 xl:text-base text-sm text-gray-500">
            <li>Mirador Rooftop </li>
            <li>Huerta</li>
            <li>Parque canino </li>
            <li>Playground niños</li>
            <li>Cicloruta niños </li>
            <li>Clubhouse</li>
            <li>Salón social</li>
            <li>Gimnasio</li>
            <li>Lobby</li>
            <li>Tanning Zone</li>
            <li>Turco</li>
            <li>Piscina adultos</li>
            <li>Mirador Rooftop </li>
            <li>Huerta</li>
            <li>Parque canino </li>
            <li>Playground niños</li>
            <li>Cicloruta niños </li>
            <li>Clubhouse</li>
            <li>Salón social</li>
            <li>Gimnasio</li>
            <li>Lobby</li>
            <li>Tanning Zone</li>
            <li>Turco</li>
            <li>Piscina adultos</li>
        </ol>
    </div>
</section>